:root {
    --color-primary-50: 255, 235, 233;
    --color-primary-100: 255, 214, 209;
    --color-primary-200: 255, 172, 163;
    --color-primary-300: 255, 130, 117;
    --color-primary-400: 255, 88, 71;
    --color-primary-500: 235, 51, 35;
    --color-primary-600: 211, 46, 31;
    --color-primary-700: 187, 41, 28;
    --color-primary-800: 163, 36, 24;
    --color-primary-900: 139, 31, 21;
}