:root {
    --color-primary-50: 235, 233, 255;
    --color-primary-100: 214, 209, 255;
    --color-primary-200: 172, 163, 255;
    --color-primary-300: 130, 117, 255;
    --color-primary-400: 88, 71, 255;
    --color-primary-500: 49, 39, 131;
    --color-primary-600: 44, 35, 118;
    --color-primary-700: 39, 31, 105;
    --color-primary-800: 34, 27, 92;
    --color-primary-900: 29, 23, 79;
}